---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Do what You want, using Mainframe" id="intro">
  <!-- <Icon slot="eyebrow" name="logomark" class="h-32" /> -->
  <!-- <Fragment slot="lead">
    Astro is a new kind of site builder for the
    <span class="text-primary">modern</span> web.
    <span class="text-primary">Lightning-fast</span>
    performance meets <span class="text-primary">powerful</span> developer experience.
  </Fragment> -->
  <div class="grid grid-cols-5 gap-1 sm:grid-cols-2">

    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 px-6 py-4 border-2 border-current"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Choose any <br\>
        Modern Languange</span>
    </a>
    <a
      href="https://www.ibm.com/in-en/it-infrastructure/z/capabilities/hybrid-cloud"
      class="flex items-center justify-center gap-3 px-6 py-4 border-2 border-current"
    >
      <Icon pack="mdi" name="read" class="h-8" />
      <span>Hybrid cloud <br/>with IBM Z</span>
    </a>
    <a
      href="https://www.ibm.com/in-en/it-infrastructure/z/capabilities/hybrid-cloud"
      class="flex items-center justify-center gap-3 px-6 py-4 border-2 border-current"
    >
      <Icon pack="mdi" name="read" class="h-8" />
      <span>Hybrid cloud with IBM Z</span>
    </a>
  </div>
</ContentSection>
